In [1]:
# Question 1: Create a list of first 10 square numbers
squares = [i**2 for i in range(1, 11)]
print(f'The first 10 square numbers are: {squares}')

The first 10 square numbers are: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_sum = sum(i for i in range(1, 11) if i % 2 == 0)
print(f'The sum of all even numbers from 1 to 10 is: {even_sum}')

In [2]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = list(set([1, 2, 2, 3, 4, 4, 5, 6, 6, 7]))
print(f'The list after removing duplicates is: {unique_numbers}')

The list after removing duplicates is: [1, 2, 3, 4, 5, 6, 7]

In [3]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

numbers = [64, 34, 25, 12, 22, 11, 90]
sorted_numbers = sorted(numbers, reverse=True)
print(f'The sorted list in descending order is: {sorted_numbers}')

The sorted list in descending order is: [90, 64, 34, 25, 22, 12, 11]

In [6]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
numbers = [15, 23, 31, 42, 56, 78, 91]
average = sum(numbers) / len(numbers)
print(f'The average of the numbers is: {average}')

The average of the numbers is: 48.0

In [5]:
# Question 6: Create a list of first 15 Fibonacci numbers

def fibonacci(n):
    fib_sequence = [0, 1]
    for i in range(2, n):
        fib_sequence.append(fib_sequence[i-1] + fib_sequence[i-2])
    return fib_sequence
fibonacci_numbers = fibonacci(15)
print(f'The first 15 Fibonacci numbers are: {fibonacci_numbers}')

The first 15 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [7]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

second_largest =[45, 67, 23, 89, 12, 34, 78]
second_largest.sort()
print(f'The second largest number is: {second_largest[-2]}')

The second largest number is: 78

In [8]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reversed_numbers = numbers[::-1]
print(f'The reversed list is: {reversed_numbers}')

The reversed list is: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

list = [1, 5, 2, 5, 3, 5, 4, 5, 6]
list.count(5)

4

In [13]:
# Question 10: Create a list of prime numbers between 1 and 50

primes = []

for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
print(f'The prime numbers between 1 and 50 are: {primes}')

The prime numbers between 1 and 50 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [14]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(f'The flattened list is: {flattened_list}')

The flattened list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
common =list(set(list1)& set(list2))
print(common)

[4, 5]

In [5]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

list_of_lists = [[1,2],[3,4],[5,6]]
print(list_of_lists)

[[1, 2], [3, 4], [5, 6]]

In [6]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sub_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

def sum_each_sublist(data):
    result = []
    for sublist in data:
        total = 0
        for num in sublist:
            total += num
        result.append(total)
    return result

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = sum_each_sublist(data)
print(sums)

[6, 15, 24]

In [7]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = []

for i in range(len(a[0])):
    row = []
    
    for j in range(len(a)):
        row.append(a[j][i])
    transposed.append(row)

print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [48]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

sub_list1 = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_values = []

for sublist in sub_list1 :
    max_val = sublist[0]
    for num in sublist:
        if num > max_val:
            max_val = num
    max_values.append(max_val)

print(max_values)

[5, 9, 8]

In [10]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
list3 = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(list3)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [11]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
list3 = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

total = 0

for block in list3:
    for row in block:
        for num in row:
            total += num

print("Total sum:", total)

Total sum: 36

In [12]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list4 = data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

even_numbers = []

for sublist in list4:
    for num in sublist:
        if num % 2 == 0:
            even_numbers.append(num)

print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8]

In [13]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
mixed_list =  [1, "hello", 3.14, True, [1, 2, 3]]
print(mixed_list)

[1, 'hello', 3.14, True, [1, 2, 3]]

In [15]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]

string = ["apple", "banana", "cherry", "date"]
length = []
for string in string:
    length.append(len(string))

print(length)

[5, 6, 6, 4]

In [16]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
tuple_list = [(1, 'a'), (2, 'b'), (3, 'c')]
print(tuple_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [17]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

tuple_list= [(1, 'a'), (2, 'b'), (3, 'c')]
first_element=[]
for i in tuple_list:
    first_element.append(i[0])
print(first_element)

[1, 2, 3]

In [18]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

dict_list =([{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}])
print(dict_list)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [19]:
# Question 25: Extract all 'name' values from list of dictionaries

dict_list=([{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}])
names=[]
for person in dict_list:
    names.append(person['name'])
print(names)

['Alice', 'Bob']

In [20]:
# Question 26: Find the person with maximum age in list of dictionaries

dict_list=([{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}])

max_age = dict_list[0]['age']
person = dict_list[0]['name']

for entry in dict_list:
    if entry['age'] > max_age:
        max_age = entry['age']
        person = entry['name']

print("Person with max age:", person)
print("Age:", max_age)

Person with max age: Bob
Age: 30

In [21]:

# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
list4d = list([
    list([
        list([list([1, 2]), list([3, 4])]),
        list([list([5, 6]), list([7, 8])])
    ]),
    list([
        list([list([9, 10]), list([11, 12])]),
        list([list([13, 14]), list([15, 16])])
    ])
])

print(list4d)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [ ]:
# Question 28: Find the maximum value in 4D list

list4d  = [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]],
        [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]


max_val = list4d[0][0][0][0] 

for block1 in list4d:
    for block2 in block1:
        for row in block2:
            for num in row:
                if num > max_val:
                    max_val = num

print("Maximum value:", max_val)

Maximum value: 16

In [24]:

# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
set_list = list([
    set([1, 2, 3]),
    set([4, 5, 6]),
    set([7, 8, 9])
])

print(set_list)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [25]:

# Question 30: Find the union of all sets in list of sets

result = set()          
for s in a:
    result = result.union(s)

print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [26]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]

complex_list = [1+2j, 3+4j, 5+6j]
print(complex_list)

[(1+2j), (3+4j), (5+6j)]

In [ ]:
# Question 32: Find the magnitude of each complex number in list

complex_list = [1+2j, 3+4j, 5+6j]

magnitudes = [abs(z) for z in complex_list]

print(magnitudes)

[2.23606797749979, 5.0, 7.810249675906654]

In [28]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]

nested_list = [1, [2, 3], [4, [5, 6]], 7]
print(nested_list)

[1, [2, 3], [4, [5, 6]], 7]

In [29]:
# Question 35: Create a list of functions: [len, str, int, float]

function_list=[len,str,int,float]
print(function_list)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [30]:
# Question 36: Apply each function in list to string "123"

func_list_str = [len, str, int, float]
s = "123"

result = [f(s) for f in func_list_str]
print(result)

[3, '123', 123, 123.0]

In [31]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

functions_lambda =  [lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1]
print(functions_lambda)

[<function <lambda> at 0x0000020022EF6660>, <function <lambda> at 0x0000020022EF6840>, <function <lambda> at 0x0000020022EF65C0>]

In [33]:
# Question 38: Apply each lambda function to 5
functions_lambda = [f(5) for f in functions_lambda]    #x=5
print(functions_lambda)

[10, 25, 6]

In [34]:
# Question 39: Create a list of classes: [list, dict, set, tuple]

classes_list =[list,dict,set,tuple]
print(classes_list)

[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [46]:

# Question 40: Create instances of each class in list

classes = [list, dict, set, tuple]

instances = [cls() for cls in classes]

print(instances)

[[], {}, set(), ()]

In [35]:
# Question 41: Create a list of None values: [None, None, None, None]

none_list = [None] * 4
print(none_list)

[None, None, None, None]

In [36]:
# Question 42: Replace all None values with 0 in list

none_list=[None,None,None,None]
result = [0 if x is None else x for x in none_list]
print(result)

[0, 0, 0, 0]

In [37]:
# Question 43: Create a list of boolean values: [True, False, True, False]

bool_list =[True, False, True, False]
print(bool_list)

[True, False, True, False]

In [38]:
# Question 44: Count True values in boolean list

bool_list=[True, False, True, False]
count_true = sum(bool_list)
print(count_true)

2

In [39]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]

range_list =[range(3),range(5),range(2)]
print(range_list)

[range(0, 3), range(0, 5), range(0, 2)]

In [ ]:
# Question 46: Convert each range to list

range_list = [range(3), range(5), range(2)]
lists = [list(r) for r in range_list]
print(lists)

[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [42]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]

generators = [(x for x in range(3)), (x for x in range(5))]
for gen in generators:
    print(list(gen))

[0, 1, 2]
[0, 1, 2, 3, 4]

In [43]:
# Question 48: Convert each generator to list

converted = []

for gen in generators:
    converted.append(list(gen))

print(converted)

[[], []]

In [44]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]

iters_list = [iter([1, 2, 3]), iter([4, 5, 6])]
print(iters_list)

[<list_iterator object at 0x0000020022972E30>, <list_iterator object at 0x0000020022AA9570>]

In [47]:
# Question 50: Extract all elements from each iterator

iters_list = [iter([1, 2, 3]), iter([4, 5, 6])]

result = [list(it) for it in iters_list]
print(result)

[[1, 2, 3], [4, 5, 6]]