In [9]:
# Question 1: Create a tuple of first 10 natural numbers

natural_numbers= tuple (range(1, 11))
print("Tuple of first 10 natural numbers:", natural_numbers)

Tuple of first 10 natural numbers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

length_of_tuple = len((1, 2, 3, 4, 5, 6, 7, 8, 9, 10))
print("Length of the tuple :", length_of_tuple)

Length of the tuple : 10

In [12]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

tuple_elements = ('a', 'b', 'c', 'd', 'e')
tuple_elements[2]

'c'

In [16]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

tuple_elements = (23, 45, 12, 67, 34, 89, 56)
max_value = max(tuple_elements)
print("maximum value in the tuples:", max_value)

maximum value in the tuples: 89

In [44]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

elements= (1, 5, 2, 5, 3, 5, 4, 5, 6)
elements.count(5)

4

In [45]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

mixed_tuple = (1, 3.14, "Hello", True)
print("Mixed data type tuple:", mixed_tuple)

Mixed data type tuple: (1, 3.14, 'Hello', True)

In [46]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

tuple_languages = ('java', 'python', 'c++', 'javascript')
index_of_python = tuple_languages.index('python')
print("Index of 'python' in the tuple:", index_of_python)

Index of 'python' in the tuple: 1

In [47]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
tuple_numbers = (10, 20, 30, 40, 50)
exists = 25 in tuple_numbers
print("Does 25 exist in the tuple?", exists)

Does 25 exist in the tuple? False

In [50]:
# Question 9: Create a tuple of first 5 even numbers
even_numbers = tuple(range(2, 12, 2))
print("Tuple of first 5 even numbers:", even_numbers)

Tuple of first 5 even numbers: (2, 4, 6, 8, 10)

In [34]:

# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

numbers = (15, 23, 31, 42, 56, 78)
average = sum(numbers) / len(numbers)
print("Average of the numbers in the tuple:", average)

Average of the numbers in the tuple: 40.833333333333336