In [4]:
# Question 1: Check if 25 is greater than 20 and less than 30
num = 20<25<30
if num:
    print("25 is greater than 20 and less than 30")
else:
    print("25 is not graeter than 20 and less than 30")

25 is greater than 20 and less than 30

In [6]:
# Question 2: Check if string "python" is equal to "Python" (case sensitive)

string1= "python"
string2 = "Python"
is_equal = string1 == string2
if is_equal:
    print("The strings are equal (case sensitive)")
else:
    print("The strings are not equal (case sensitive)")

The strings are not equal (case sensitive)

In [7]:
# Question 3: Check if 15 is divisible by both 3 and 5
num1 = 15
divisible = (num1 % 3 == 0) and (num1 % 5 == 0)
if divisible:
    print("15 is divisible by both 3 and 5")
else:
    print("15 is not divisible by both 3 and 5")

15 is divisible by both 3 and 5

In [8]:
# Question 4: Check if 7 is not equal to 8
if 7 != 8:
    print("7 is not equal to 8")
else:
    print("7 is equal to 8")

7 is not equal to 8

In [9]:
# Question 5: Check if 100 is greater than 50 or less than 25
num2 = 100
if num2 > 50 or num2 < 25:
    print("100 is greater than 50 or less than 25") 
else:
    print("100 is neither greater than 50 nor less than 25")

100 is greater than 50 or less than 25

In [10]:
# Question 6: Check if 0 is falsy in Python
if not 0:
    print("0 is falsy in Python")
else:
    print("0 is not falsy in Python")

0 is falsy in Python

In [11]:

# Question 7: Check if empty string "" is falsy in Python
if not "":
    print('"" is falsy in Python')  
else:
    print('"" is not falsy in Python')

"" is falsy in Python

In [12]:
# Question 8: Check if 42 is truthy in Python
if 42:
    print("42 is truthy in Python") 
else:
    print("42 is not truthy in Python")

42 is truthy in Python

In [13]:
# Question 9: Check if 10 is between 5 and 15 (inclusive)
for i in range(5, 16):
    if i == 10:
        print("10 is between 5 and 15 (inclusive)")
        break   
else:
    print("10 is not between 5 and 15 (inclusive)")

10 is between 5 and 15 (inclusive)

In [14]:
# Question 10: Check if 3.14 is greater than 3 and less than 4
num3 = 3.14
if 3 < num3 < 4:
    print("3.14 is greater than 3 and less than 4")
else:
    print("3.14 is not greater than 3 and less than 4")

3.14 is greater than 3 and less than 4