In [26]:
# Question 61: Print numbers divisible by 3 up to 100.

for i in range(1,100):
    if i % 3 == 0:
      print(i, end=" ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [27]:
# Question 62: Print numbers divisible by 7 up to 100.

for i in range(1,100):
    if i % 7 == 0:
      print(i, end=" ")

7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [32]:
# Question 63: Print prime numbers from 1–50.

for num in range(2,51):
    for i in range(2,num):
        if num % i == 0:
             break
    else:
         print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [38]:
# Question 64: Print composite numbers 1–50.

for num in range(2,51):
    for i in range(2,num):
        if num % i == 0:
         print(num,end=" ")
         break

4 6 8 9 10 12 14 15 16 18 20 21 22 24 25 26 27 28 30 32 33 34 35 36 38 39 40 42 44 45 46 48 49 50

In [42]:
# Question 65: Print all factors of a number.
num = 56
for i in range(1, num + 1):
    if num % i == 0:
        print(i, end=" ")

1 2 4 7 8 14 28 56

In [50]:
# Question 66: Print sum of factors of a number.

num = 568
sum = 0
for i in range(1, num + 1):
    if num % i == 0:
         sum += i
print(sum)

1080

In [ ]:
# Question 67: Print numbers divisible by both 2 and 5.

for i in range(1,101):
    if i % 2 == 0 and i % 5 == 0 :
     print(i, end=" ")

10 20 30 40 50 60 70 80 90

In [54]:
# Question 68: Print numbers divisible by either 2 or 5.

for i in range(1,101):
    if i % 2 == 0 or i % 5 == 0 :
     print(i, end=" ")

2 4 5 6 8 10 12 14 15 16 18 20 22 24 25 26 28 30 32 34 35 36 38 40 42 44 45 46 48 50 52 54 55 56 58 60 62 64 65 66 68 70 72 74 75 76 78 80 82 84 85 86 88 90 92 94 95 96 98 100

In [60]:
# Question 69: Print numbers not divisible by 2 or 3.

for i in range(1,101):
    if i % 2 != 0 and i % 3 != 0 :
         print(i, end=" ")

1 5 7 11 13 17 19 23 25 29 31 35 37 41 43 47 49 53 55 59 61 65 67 71 73 77 79 83 85 89 91 95 97

In [75]:
# Question 70: Use nested for to print matrix 3x3.

for i in range(1,4):        
    for j in range(1, 4):      
        print(j, end=" ")
    print()

1 2 3
1 2 3
1 2 3

In [85]:
# Question 71: Print pattern of stars (triangle).

for i in range(1,6):
 print("*" * i)

*
**
***
****
*****

In [87]:
# Question 72: Print inverted triangle pattern.

for i in range(5,0,-1):
 print("*" * i)

*****
****
***
**
*

In [90]:
# Question 73: Print square pattern with stars.
s = 4
for i in range(s):
 print("*" * s)

****
****
****
****

In [121]:
# Question 74: Print pyramid pattern with stars.

p = 5

for i in range(1, p + 1):
    print(" " * (p - i) +"*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [117]:
# Question 75: Print right-aligned triangle pattern.

t = 5
for i in range(1, t + 1):
    print("" * (t - i) + " * " * i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [106]:
# Question 76: Print hollow square pattern.

s = 5

for i in range(s):
    for j in range(s):
        if i == 0 or i == s-1 or j == 0 or j == s-1:
            print(" * ", end="")
        else:
            print("   ", end="")
    print()

 *  *  *  *  *
 *           *
 *           *
 *           *
 *  *  *  *  *

In [127]:
# Question 77: Print diamond pattern.

for i in range(1, 6, 1):
    print(" " * (6 - i) + "*" * (2 * i - 1))
for i in range(5, 0, -1):
    print(" " * (6 - i) + "*" * (2 * i - 1))

     *
    ***
   *****
  *******
 *********
 *********
  *******
   *****
    ***
     *

In [128]:
# Question 78: Print Pascal's triangle (first 5 rows).

from math import comb
rows = 5
for i in range(rows):
    print(" " * (rows - i), end="")
    for j in range(i + 1):
        print(comb(i, j), end=" ")
    print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [133]:
# Question 79: Print multiplication tables 1 to 10.

for i in range(1, 11):
    for j in range(1, 11):

        print(f" {i*j:4} ", end="")
    print()

    1     2     3     4     5     6     7     8     9    10
    2     4     6     8    10    12    14    16    18    20
    3     6     9    12    15    18    21    24    27    30
    4     8    12    16    20    24    28    32    36    40
    5    10    15    20    25    30    35    40    45    50
    6    12    18    24    30    36    42    48    54    60
    7    14    21    28    35    42    49    56    63    70
    8    16    24    32    40    48    56    64    72    80
    9    18    27    36    45    54    63    72    81    90
   10    20    30    40    50    60    70    80    90   100

In [142]:
# Question 80: Print sum of diagonals of matrix.


matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
n = len(matrix)
sum_diag = 0
for i in range(n):
    sum_diag += matrix[i][i]           # primary diagonal
    sum_diag += matrix[i][n-1-i]       # secondary diagonal
print(sum_diag)

30

In [143]:
# Question 81: Transpose matrix using for loop.

matrix = [
    [1,2,3],
    [4,5,6]
]
rows = len(matrix)
cols = len(matrix[0])
transpose = []
for i in range(cols):
    row = []
    for j in range(rows):
        row.append(matrix[j][i])
    transpose.append(row)
print(transpose)

[[1, 4], [2, 5], [3, 6]]

In [144]:
# Question 82: Count zeros in a matrix.
matrix = [
    [0,1,2],
    [3,0,4],
    [5,6,0]
]
count = 0
for row in matrix:
    for val in row:
        if val == 0:
            count += 1
print(count)

3

In [145]:
# Question 83: Find largest number in matrix.

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
largest = matrix[0][0]
for row in matrix:
    for val in row:
        if val > largest:
            largest = val
print(largest)

9

In [146]:
# Question 84: Sum of each row of matrix.

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for row in matrix:
    print(sum(row))

6
15
24

In [147]:
# Question 85: Sum of each column of matrix.

matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
cols = len(matrix[0])
for j in range(cols):
    col_sum = 0
    for i in range(len(matrix)):
        col_sum += matrix[i][j]
    print(col_sum)

12
15
18

In [148]:
# Question 86: Flatten matrix into single list.

matrix = [
    [1,2,3],
    [4,5,6]
]
flat = []
for row in matrix:
    for val in row:
        flat.append(val)
print(flat)

[1, 2, 3, 4, 5, 6]

In [149]:
# Question 87: Generate list of first 10 squares.

squares = []
for i in range(1, 11):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [150]:
# Question 88: Generate list of first 10 cubes.

cubes = []
for i in range(1, 11):
    cubes.append(i**3)
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [151]:
# Question 89: Generate list of even numbers.

evens = []
for i in range(1, 21):
    if i % 2 == 0:
        evens.append(i)
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [153]:
# Question 90: Generate list of odd numbers.

odds = []
for i in range(1, 21):
    if i % 2 != 0:
        odds.append(i)
print(odds)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [152]:
# Question 91: Generate list of prime numbers.

primes = []
for num in range(2, 21):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        primes.append(num)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

In [154]:
# Question 92: Generate list of factorials.
factorials = []
for i in range(1, 6):
    fact = 1
    for j in range(1, i+1):
        fact *= j
    factorials.append(fact)
print(factorials)

[1, 2, 6, 24, 120]

In [155]:
# Question 93: Generate list of string lengths.

words = ["apple", "banana", "cherry"]
lengths = []
for word in words:
    lengths.append(len(word))
print(lengths)

[5, 6, 6]

In [156]:
# Question 94: Reverse list using for.

lst = [1,2,3,4,5]
rev = []
for i in range(len(lst)-1, -1, -1):
    rev.append(lst[i])
print(rev)

[5, 4, 3, 2, 1]

In [157]:
# Question 95: Print ASCII values of characters.

chars = ['a','b','c']
for ch in chars:
    print(ord(ch))

97
98
99

In [158]:
# Question 96: Print characters from ASCII 65–90.

for i in range(65, 91):
    print(chr(i), end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [160]:
# Question 97: Print characters from ASCII 97–122.

for i in range(97, 123):
    print(chr(i), end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [173]:
# Question 98: Loop over range(5) and print numbers.
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

In [172]:
# Question 99: Loop over range(2, 20, 2).

for i in range(2, 20, 2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18

In [171]:
# Question 100: Loop backwards using range(10, 0, -1).

for i in range(10, 0, -1):
    print(i, end=" ")

10 9 8 7 6 5 4 3 2 1