In [24]:
# Question 1: Use a for loop to print numbers 1 to 10.

for i in range (1,11):
    print(i , end =" " )

1 2 3 4 5 6 7 8 9 10

In [23]:
# Question 2: Loop through a list of fruits and print each.

fruits = ["apple", "banana", "cherry", "mango", "orange"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry
mango
orange

In [31]:
# Question 3: Use for to calculate sum of first 100 numbers.

sum = 0

for i in range (1,101):
     sum += i
print("sum of first 100 numbers is :", sum)

sum of first 100 numbers is : 5050

In [32]:
# Question 4: Iterate through characters in a string.

text = "praveen kumar"

for char in text:
    print(char)

p
r
a
v
e
e
n

k
u
m
a
r

In [45]:
# Question 5: Print multiplication table of 7 using for.

for i in range(1, 11):
    print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [46]:
# Question 6: Find factorial of a number using for.

num = 5
factorial = 1
for i in range(1, num+1):
    factorial *= i
print("Factorial:", factorial)

Factorial: 120

In [47]:
# Question 7: Use for to count vowels in a string.

text = "praveen kumar"
count = 0
for char in text.lower():
    if char in "aeiou":
        count += 1
print("Number of vowels:", count)

Number of vowels: 5

In [48]:
# Question 8: Loop through dictionary keys and print.

my_dict = {"a": 1, "b": 2, "c": 3}
for key in my_dict.keys():
    print(key)

a
b
c

In [49]:
# Question 9: Loop through dictionary values and print.

for value in my_dict.values():
    print(value)

1
2
3

In [50]:
# Question 10: Nested for loop to print a 3x3 matrix.

for i in range(3):
    for j in range(3):
        print(f"({i},{j})", end=" ")
    print()

(0,0) (0,1) (0,2)
(1,0) (1,1) (1,2)
(2,0) (2,1) (2,2)

In [51]:
# Question 11: Use for with range(10, 0, -1) to count down.

for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [52]:
# Question 12: Use for to reverse a string.

text = "praveen kumar"
reversed_text = ""
for char in text:
    reversed_text = char + reversed_text
print(reversed_text)

ramuk neevarp

In [53]:
# Question 13: Find maximum element in a list using for.

numbers = [4, 7, 1, 9, 2]
max_num = numbers[0]
for num in numbers:
    if num > max_num:
        max_num = num
print("Maximum:", max_num)

Maximum: 9

In [54]:
# Question 14: Copy elements of one list to another using for.

original = [1, 2, 3, 4]
copy = []
for item in original:
    copy.append(item)
print(copy)

[1, 2, 3, 4]

In [55]:
# Question 15: Generate a list of squares using for.

squares = []
for i in range(1, 11):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [56]:
# Question 16: Loop to print Fibonacci numbers up to 50.

a, b = 0, 1
while a <= 50:
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

In [57]:
# Question 17: Print only even numbers from 1–50 using for.

for i in range(2, 51, 2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [58]:
# Question 18: Print index and value of a list using enumerate.

fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [63]:
# Question 19: Iterate over two lists at once using zip.

list1 = [1, 2, 3]
list2 = ["a", "b", "c"]
for a, b in zip(list1, list2):
    print(a, b)

1 a
2 b
3 c

In [62]:
# Question 20: Find common elements in two lists using for.

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common = []
for item in list1:
    if item in list2:
        common.append(item)
print(common)

[3, 4]

In [61]:
# Question 21: Print numbers 1–10.

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [64]:
# Question 22: Print numbers 10–1.

for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [65]:
# Question 23: Print first 20 even numbers.

for i in range(2, 41, 2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40

In [66]:
# Question 24: Print first 20 odd numbers.

for i in range(1, 40, 2):
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39

In [67]:
# Question 25: Print squares of numbers 1–10.

for i in range(1, 11):
    print(i**2, end=" ")

1 4 9 16 25 36 49 64 81 100

In [68]:
# Question 26: Print cubes of numbers 1–10.

for i in range(1, 11):
    print(i**3, end=" ")

1 8 27 64 125 216 343 512 729 1000

In [69]:
# Question 27: Print multiplication table of 5.

for i in range(1, 11):
    print(f"5 x {i} = {5*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [70]:
# Question 28: Print multiplication table of any number.

n = 8
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [71]:
# Question 29: Print factorial of 6 using for.

num = 6
fact = 1
for i in range(1, num+1):
    fact *= i
print(fact)

720

In [73]:
# Question 30: Calculate sum of first 100 numbers.

total = 0
for i in range(1, 101):
    total += i
print("sum of first 100 numbers is :",total)

sum of first 100 numbers is : 5050