In [4]:
# Question 31: Calculate product of first 10 numbers.

product = 1
for i in range(1,11):
    product *= i
print(product)

3628800

In [5]:
# Question 32: Print characters of a string one by one.

string = "praveen kumar"
for i in string:
    print(i)

p
r
a
v
e
e
n

k
u
m
a
r

In [12]:
# Question 33: Reverse a string using for.
string = "praveen kumar"
for i in string[::-1]:
 print(i)

r
a
m
u
k

n
e
e
v
a
r
p

In [27]:
# Question 34: Count vowels in a string.

string = "praveen kumar"
count = 0
for i in string:
    if i in "aeiou":
     count += 1
print(count)

5

In [29]:
# Question 35: Count consonants in a string.
string = "praveen kumar"
count = 0
for i in string:
    if i not  in "aeiou":
     count += 1
print(count)

8

In [33]:
# Question 36: Count digits in a string.

string = "praveen 453785"
count = 0
for i in string:
    if i.isdigit():
     count += 1
print(count)

6

In [34]:
# Question 37: Count spaces in a string.
string = "praveen kumar"
count = 0
for i in string:
    if i.isspace():
     count += 1
print(count)

1

In [35]:
# Question 38: Print list elements one by one.

lists = [11,22,33,44,55]
for iteam in lists:
    print(iteam)

11
22
33
44
55

In [36]:
# Question 39: Find sum of all list elements.

lists = [22,44,66,88]
sum = 0
for i in lists:
    sum += i
print(sum)

220

In [46]:
# Question 40: Find maximum in a list.

lists = [22,44,66,88]
maximum = lists[0]
for i in lists:
    if maximum < i:
     maximum = i
print(maximum)

88

In [47]:
# Question 41: Find minimum in a list.

lists = [22,44,66,88]
minimum= lists[0]
for i in lists:
    if minimum > i:
     minimum = i
print(minimum)

22

In [50]:
# Question 42: Print index and value of list.

lst = [10, 20, 30, 40]

for i in range(len(lst)):
    print(f"Index: {i}, Value: {lst[i]}")

Index: 0, Value: 10
Index: 1, Value: 20
Index: 2, Value: 30
Index: 3, Value: 40

In [52]:
# Question 43: Print elements at even indexes.

lst = [10, 20, 30, 40]

for i in range(0,len(lst),2):
    print(f"Index: {i}, Value: {lst[i]}")

Index: 0, Value: 10
Index: 2, Value: 30

In [53]:
# Question 44: Print elements at odd indexes.

lst = [10, 20, 30, 40]

for i in range(1,len(lst),2):
    print(f"Index: {i}, Value: {lst[i]}")

Index: 1, Value: 20
Index: 3, Value: 40

In [65]:
# Question 45: Double every element in list.

lst = [10, 20, 30, 40]
double = []
for i in lst:
    double.append(i*2)
print(double)

[20, 40, 60, 80]

In [66]:
# Question 46: Square every element in list.
lst = [10, 20, 30, 40]
Square = []
for i in lst:
    Square.append(i**2)
print(Square)

[100, 400, 900, 1600]

In [99]:
# Question 47: Filter even numbers from list.

lst = [10, 15, 20, 25, 30, 35, 40, 45, 50]
evens = []  

for i in lst:
    if i % 2 == 0:  
        evens.append(i)

print(evens)

[10, 20, 30, 40, 50]

In [ ]:
# Question 48: Filter odd numbers from list.

lst = [10, 15, 20, 25, 30]
odd = []  

for i in lst:
    if i % 2 != 0: 
        odd.append(i)

print(odd)

[15, 25]

In [100]:
# Question 49: Print common elements in two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common = [] 

for i in list1:
    if i in list2:
        common.append(i)

print(common)

[3, 4, 5]

In [101]:
# Question 50: Print unique elements from list.

lst = [1, 2, 2, 3, 3, 4, 5, 5]
unique = []  

for i in lst:
    if i not in unique:
        unique.append(i)

print(unique)

[1, 2, 3, 4, 5]

In [102]:
# Question 51: Copy list using for loop.

original = [10, 20, 30, 40]
copy = []  

for item in original:
    copy.append(item)

print(copy)

[10, 20, 30, 40]

In [104]:
# Question 52: Flatten 2D list using for.

lst2d = [[1, 2], [3, 4], [5, 6]]
flat = []  

for sublist in lst2d:
    for item in sublist: 
        flat.append(item)

print(flat)

[1, 2, 3, 4, 5, 6]

In [107]:
# Question 53: Print all keys of dictionary.

d = {"a": 1, "b": 2, "c": 3}

for key in d.keys():
    print(key)

a
b
c

In [ ]:
# Question 54: Print all values of dictionary.

d = {"a": 1, "b": 2, "c": 3}

for values in d.values():
    print(values)

1
2
3

In [115]:
# Question 55: Print all key–value pairs.

d = {"a": 1, "b": 2, "c": 3}

for key, value in d.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

In [116]:
# Question 56: Count frequency of each character in string.

s = "praveen kumar"
freq = {} 

for char in s:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print(freq)

{'p': 1, 'r': 2, 'a': 2, 'v': 1, 'e': 2, 'n': 1, ' ': 1, 'k': 1, 'u': 1, 'm': 1}

In [117]:
# Question 57: Count frequency of each element in list.

lst = [1, 2, 2, 3, 3, 3, 4]
freq = {}  

for item in lst:
    if item in freq:
        freq[item] += 1
    else:
        freq[item] = 1

print(freq)

{1: 1, 2: 2, 3: 3, 4: 1}

In [118]:
# Question 58: Loop through set and print elements.

s = {10, 20, 30, 40}

for item in s:
    print(item)

40
10
20
30

In [119]:
# Question 59: Loop through tuple and print.

t = (10, 20, 30, 40)

for item in t:
    print(item)

10
20
30
40

In [120]:
# Question 60: Print Fibonacci numbers up to 50.

a, b = 0, 1

while a <= 50:
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34